let mapleader = "\<SPACE>"

:set relativenumber
:set number 
:set idearefactormode=keep
:set ideajoin
:set scrolloff=10
:set showmode
:set sneak
:set surround

:set NERDTree
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

" Window navigation
sethandler <c-h> a:vim
sethandler <c-l> a:vim
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

:map <leader>\ :vsplit<CR>
:map <leader>sh :vsplit<CR>
:map <leader>- :split<CR>
:map <leader>sv :split<CR>
:map <leader>fs <Action>(FileStructurePopup)

" Open Terminal
:map <leader>t <Action>(ActivateTerminalToolWindow)

" Open services
:map <leader>s <Action>(ActivateServicesToolWindow)

" Open recent project dialog box
:map <leader>m <Action>(ManageRecentProjects)

" Code execution
:map <leader>bp <Action>(ToggleLineBreakpoint)
:map <leader>d <Action>(Debug)
:map <leader>ds <Action>(Stop)

" Code navigation
:map <leader>be <Action>(Switcher)
:map <leader>fb <Action>(RecentFiles)
:map <leader>ff <Action>(GotoFile)
:map <leader>fg <Action>(SearchEverywhere)
:map <leader>fp <Action>(FindInPath)
:map <leader>cd <Action>(GotoDeclaration)
:map <s-h> <Action>(Back)
:map <s-l> <Action>(Forward)
" camelCase navigation
:map n [w
:map <S-n> [b

" Nerdtree
:map <leader>e :NERDTreeFind<CR>
:map <leader>et :NERDTreeToggle<CR>

" AceJump
:map <leader>f <Action>(AceAction)

" Git
:map <leader>gs <Action>(ActivateCommitToolWindow)
:map <leader>gc <Action>(CheckinProject)
:map <leader>ga <Action>(Git.Add)
:map <leader>gp <Action>(Git.Pull)
:map <leader>gn <Action>(Annotate)
:map <leader>gl <Action>(Git.Log)
:map <leader>go <Action>(Github.Open.In.Browser)
:map <leader>gb <Action>(Git.Branches)
